# Database
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ryvin

# Security
SECRET_KEY=supersecretkey
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30  # 30 min
REFRESH_TOKEN_EXPIRE_MINUTES=43200  # 30 days

# API
API_V1_STR=/api/v1
PROJECT_NAME=Ryvin Dating API
VERSION=0.1.0

# CORS
CORS_ORIGINS=["http://localhost:3000","http://localhost:8000"]

# SMS Service
SMS_PROVIDER_API_KEY=
SMS_VERIFICATION_TEMPLATE=Your Ryvin verification code is: {code}

# Storage
STORAGE_BACKEND=local
STORAGE_DIR=media

# Firebase Admin SDK Credentials
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-credentials.json
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_TYPE=
FIREBASE_PROJECT_ID_ENV=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=

# Google OAuth (for Social Login)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#api token
API_TOKEN=
