services:
  web:
    build: .
    entrypoint: [ "/entrypoint.sh" ]
    command: [ "gunicorn" ]
    env_file:
      - .env
    volumes:
      - ./media:/app/media
      - .:/app
    ports:
      - "8001:8000"
    depends_on:
      migrations:
        condition: service_completed_successfully
    networks:
      - ryvin-network
    restart: on-failure

  migrations:
    build: .
    entrypoint: [ "/entrypoint.sh" ]
    command: [ "migrations" ]
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
    restart: "no"
    networks:
      - ryvin-network

  db:
    image: postgres:17-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - ryvin-network
    restart: on-failure

networks:
  ryvin-network:
    driver: bridge

volumes:
  postgres_data:
